<%- layout('layouts/main.ejs')%>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h4>ELIMINAR USUARIO</h4>
            </div>
            <div class="card-body">
                <form action="/deleteUser" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="number" name="dni" placeholder="DNI">
                    </div>                    
                    <div class="form-group">
                        <input type="number" class="form-control" name="dni2" placeholder="Repita el DNI">
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>
